<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>webServlet3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!-- 서블릿 생성1 -->
  <!-- <servlet>
  <servlet-name>index</servlet-name>
  <servlet-class>org.web.controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>index</servlet-name>
  <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>join</servlet-name>
  <servlet-class>org.web.controller.JoinController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>join</servlet-name>
  <url-pattern>/join.do</url-pattern>
  </servlet-mapping> -->
  
  <!--  FrontController Spring -->
  <!--  <servlet>
  	<servlet-name>emp</servlet-name>
  	<servlet-class>org.web.controller.EmpController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>emp</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping> -->
  
  
</web-app>